/**--General Setting**/

* {
	margin: 0;
	padding: 0;
  /* font-family: Chivo, Lora, serif; */
  font-size:20px;
}

body {
  font-size:1em;
  color:#737373;
  font-family: Chivo, Lora, serif;
}

/**-- Navigation Bar**/
  #mainNav {
  position:absolute;
  border-bottom:0.01em solid #e6edf7;
  background-color:#ffffff;
  font-family:'Chivo','Arial','sans-serif';
  color:#68819b;
}
/**-- Navigation Bar-Name**/
  #mainNav .navbar-brand{
  font-family:'Chivo','Arial','sans-serif;
	font-size:1.3em;
  }

/**--Navigation Bar-LOGO**/
  .img-logo {
    border-radius: 25em;
    border-style: none;
    height:4.5em;
    width:4.5em;
    margin-right: 1.5em;
}
#mainNav.nav-item{
  color:#68819b;
}

/**--avatar**/
  .self-logo {
    border-radius: 25em;
    border-style: none;
    height:10em;
    width:10em;
		margin-top: 10em;
		padding:0;
		margin-bottom: 0;
}

/**--Header**/
header {
  height: 45em;
}
header.masthead{
  margin-bottom:2.5em;
  background:no-repeat center;
  background-color:#868e96;
  background-attachment:scroll;
  position:relative;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
header.masthead #overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  width:100%;
  opacity:0.2;
}

header.masthead .page-heading, header.masthead .site-heading{
      padding:10em 0 10em 0;
  color:#ffffff;
	margin:auto;
}

header.masthead .site-heading h1{
				            font-family:'Book Antiqua','Georgia';
				              font-weight:1000;
				            font-size: 4em;
				            color:#4d0026;
				            margin-top:2.5em;
				          }


header.masthead .subheading{
            font-family:'Book Antiqua','Georgia';
            font-size: 1.5em;
            color:#ffffff;
					text-align: center;
					margin:inherit;
          }

header.masthead .thirdheading{
              font-family:'Book Antiqua','Georgia';
              font-size: 1.2em;
              color:#ffff4d;
						text-align:center;
					}

#mainNav .navbar-toggler{
				font-size:0.5em;
			font-weight:100;
					 padding:0.5em;
text-transform:uppercase;
					color:#68819b;
									  }

/**google**/
.google {
	margin-bottom:0.5em;
	position:inline-block;
}

.google h1{
  font-family:'Book Antiqua','Georgia';
  font-weight:600;
  font-size: 1.25em;
	margin-top: 0.3em;
	text-align: center;
	color: grey;
    text-decoration: underline purple;
    text-decoration-style: solid;
	/* width: 100%; */
  }

	#map {
		 /* display:inline-block; */
		 height: 12em;
		 width:12em;
		 border: 0.3em double grey;
		 align-items: center;
		 text-align: center;
		 margin:auto;
	}



/**--about me**/
.main{
	margin-top: 5em;
	margin-bottom: auto;
}


h6.smallheadline{
font-weight:600;
font-size: 1.25em;
color: grey;
text-decoration: underline purple;
text-decoration-style: solid;
}

/**Food gallery**/
.figure{
	position: relative;
	text-align: center;
}

.img-food {
  border-radius: 0.5em;
  border-bottom: 1em solid #660033;
  height:15em;
  width: 15.5em;
	display: block;
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.overlay{
	transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
}

/* .img-food:hover{
	opacity: 0.3;
} */
figure:hover .overlay{
	 opacity: 0.8;
 }

.rating {
 background-color: #a6a6a6;
 color: #660033;
 font-size: 1em;
 padding: 1em 2em;
 margin-right:1.5em;
 margin-top: 2em;
}
/**WORK**/

.img-umx {
  border: 0.25em solid #ddd;
  padding: 0.25em;
  height:20em;
  width: 100%;

}

.checked {
    color: orange;
}

/**project page**/

figure h4 {
  font-size: 1.25em;
}

figure p {
font-size: 0.75em;

}

/**work UMX**/
.work{
   padding-right: 0.5em;
	 display: flex;
	 margin-top: 5em;
	 margin-bottom: auto;
}

figure.outcome h4, figure.challenge h4 {
  font-size: 1.75em;
  color: black;
	font-weight: 100;
	text-align: center;
}

figure.outcome p, figure.challenge p {
  font-size: 1em;
	padding:0 1em 0 1em;
	margin: 0 1em 0 1em;
}

/**--footer**/
footer {
  display: block;
  text-align: center;
  margin-top: 10em;
  border-top: 1em solid #d9d9d9;
	background-color: #4e1832;
}
p.copyright{
  font-size: 1em;
  font-style: italic;
  color:grey;
}

/* Slideshow container */
/* .slideshow-container {
  width: 60em;
	height:60em;
  /* position: relative; */
  /* margin: auto;
} */

/* .img-slide {
  border-bottom: 1em solid #660033;
  width: 30em;
	height:40em;
	display: inline-block;
	margin:auto;
	background-size: cover;
} */

/* Hide the images by default */
/* .mySlides {
    display: none;
} */

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1em;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: 0 0.5em 0.5em 0;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 0.5em 0 0 0.5em;
} */

/* On hover, add a black background color with a little bit see-through */
 /* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
 } */

/* Caption text */
/* .text {
  color: #737373;
  font-size: 1.5em;
  padding: 1em 1em;
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color:#737373;
  font-size: 1.5em;
  padding: 1em 1em;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 0.2em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
/*
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
} */

/* @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */
